.my-data-container {
    padding: 15px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my-data-author-avatar {
    width: 110px;
}

.my-data-percent {
    font-size: 33px;
    font-weight: 500;
}

a.arrow-back-link {
    color: #000000;
    text-decoration: none;
}

a.arrow-back-link:hover {
    color: #000000;
    text-decoration: none;
}

.arrow-back-link-arrow {
    display: inline-block;
    color: #b8b8b8;
    text-decoration: none;
    padding-bottom: 5px;
}