.petition-form-wrapper {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
    max-width: 450px;
}

.petition-form-wrapper__title {
    background-color: #b8b8b8;
    padding: 15px 20px 15px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    font-weight: 500;
}

.custom-label-1 {
    display: block;
}

.custom-input-1 {
    display: block;
}