.main-header {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  height: 56px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 17%);
  /* border-bottom: 1px solid #fff; */
  position: fixed;
  z-index: 1200;
}

.main-header-container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.main-gradient {
  background-image: linear-gradient(to right, #54478c, #485192, #3d5a97, #336299, #2c699a);
}

a.main-header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.main-header__logo img {
  display: block;
  height: 32px;
  padding-right: 4px;
}

.main-header__logo .logo-title {
  display: none;
  color: #16DB93;
  font-weight: 700;
  font-size: 19.2px;
}

@media (min-width: 767px) {
  .main-header__logo .logo-title {
    display: block;
  }
}

.hamburger-button {
  display: flex;
  margin-right: -10px;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 56px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  /* height:20px;
  width: 30px; */
}

/* .hamburger-button.active {
    z-index: 1301;
    position: fixed;
    right: 10px;
    top: 0;
} */

.hamburger-button__top,
.hamburger-button__middle,
.hamburger-button__bottom {
  pointer-events: none !important;
  display: inline-block;
  height: 1px;
  width: 16px;
  background-color: black;
  transition: all 0.4s ease;
}

.hamburger-button__top {
    margin-bottom: 4px;
}

.hamburger-button__middle {
    margin-bottom: 4px;
}

.hamburger-button.active .hamburger-button__top {
  transform: rotate(45deg);
  margin-bottom: 0;
}

.hamburger-button.active .hamburger-button__middle {
    display: none;
}

.hamburger-button.active .hamburger-button__bottom {
    transform: rotate(-45deg);
}

.PrivateSwipeArea-root-1 {
  margin-top: 56px;
}