a.nav-link {
    text-decoration: none;
    color: #000000; 
}

a.nav-link:hover {
    text-decoration: none;
}

.nav-avatar {
    width: 23px;
    height: 23px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.navigation-wide {
    display: flex;
}