.profile-avatar-holder {
    max-width: 120px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.my-petiton {
    display: flex;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
}

a.my-petiton {
    text-decoration: none;
    color: unset;
}

.my-petiton__cover {
    background-image: url("/avatar.webp");
    min-width: 70px;
    min-height: 100px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.my-petiton__details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.my-petiton__details__title {
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 19.2px;
    font-weight: 500;
}

.my-petiton__details__date {
    color: gray;
}

.my-petiton__details__signatures {
    margin-top: auto;
    margin-left: auto;
}

.custom-input {
    border: 1px dashed rgba(128, 128, 128, 0.322);
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.5s ease;
}

.custom-input:focus-within {
    background-color: #ffffff;
    outline: none;
    border: 1px solid #000000;
}